streamlit==1.19.0
pymongo==4.4.0
pandas==1.5.3
datetime==4.3
bcrypt==4.0.1
streamlit-option-menu==0.3.1
Pillow==9.5.0
pyspark==3.3.2
folium==0.14.0
streamlit-folium==0.10.0
matplotlib==3.7.1
seaborn==0.12.2
sklearn==1.2.0
statsmodels==0.13.5
plotly==5.14.0
numerize==1.0
geopandas==0.12.2
requests==2.31.0
streamlit-keycloak==0.1.4
